@model pojekt.Models.UserModel

<h2>Login</h2>
<form method="post" asp-action="Login">
    <div>
        <label>Email:</label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label>Password:</label>
        <input asp-for="Password" type="password" />
        <span asp-validation-for="Password"></span>
    </div>
    <button type="submit">Login</button>
</form>
@if (ViewData.ModelState.IsValid == false)
{
    <p style="color: red;">Invalid login credentials.</p>
}
